
{{ block "board" . }}

{{template "keyhandlers" .}}
<div class="columns-3 w-fit">
    {{ range $val := .Board }}
        <div >
            {{ range $val1 := $val}}
                {{ template "squares" $val1 }}
            {{end}}
        </div>
    {{ end}}
</div> 
{{ end }} 

{{ define "keyhandlers" }}
<button style="visibility: hidden;" hx-target="#Board" hx-get="key/10" hx-trigger="click, keydown[key == 'ArrowLeft'] from:body" >filler </button>
<button style="visibility: hidden;" hx-target="#Board" hx-get="key/11" hx-trigger="click, keydown[key == 'ArrowRight'] from:body" >filler </button>
<button style="visibility: hidden;" hx-target="#Board" hx-get="key/12" hx-trigger="click, keydown[key == 'ArrowUp'] from:body" >filler </button>
<button style="visibility: hidden;" hx-target="#Board" hx-get="key/13" hx-trigger="click, keydown[key == 'ArrowDown'] from:body" >filler </button>
<button style="visibility: hidden;" hx-target="#Board" hx-get="key/0" hx-trigger="click, keyup[key == '0'] from:body" >filler </button>
<button style="visibility: hidden;" hx-target="#Board" hx-get="key/1" hx-trigger="click, keyup[key == '1'] from:body" >filler </button>
<button style="visibility: hidden;" hx-target="#Board" hx-get="key/2" hx-trigger="click, keyup[key == '2'] from:body" >filler </button>
<button style="visibility: hidden;" hx-target="#Board" hx-get="key/3" hx-trigger="click, keyup[key == '3'] from:body" >filler </button>
<button style="visibility: hidden;" hx-target="#Board" hx-get="key/4" hx-trigger="click, keyup[key == '4'] from:body" >filler </button>
<button style="visibility: hidden;" hx-target="#Board" hx-get="key/5" hx-trigger="click, keyup[key == '5'] from:body" >filler </button>
<button style="visibility: hidden;" hx-target="#Board" hx-get="key/6" hx-trigger="click, keyup[key == '6'] from:body" >filler </button>
<button style="visibility: hidden;" hx-target="#Board" hx-get="key/7" hx-trigger="click, keyup[key == '7'] from:body" >filler </button>
<button style="visibility: hidden;" hx-target="#Board" hx-get="key/8" hx-trigger="click, keyup[key == '8'] from:body" >filler </button>
<button style="visibility: hidden;" hx-target="#Board" hx-get="key/9" hx-trigger="click, keyup[key == '9'] from:body" >filler </button>

{{ end }}

{{ define "squares"}}
<div class="border-2  border-sky-500 mb-2 ml-2 w-fit"> 
    {{ range $row := .Square}} 
        <div class="grid grid-cols-3">
            {{ range $value := .}} 
                {{ template "square" $value }} 
            {{end}} </div> {{end}} 
    </div> 
{{end}} 

{{ define "square" }}
    {{ if eq .Appearance 0 }}
        {{template "square0" .}}   
    {{ else }}
        {{ if eq .Appearance 1}} 
            {{template "square1" .}}
        {{else}}
            {{ if eq .Appearance 2 }} 
                {{template "square2" .}}
            {{else}}
                {{template "square3" .}}
            {{end}}
        {{end}}
    {{end}}
{{end}}



{{ define "square0" }}
     <button hx-get={{.Get}} hx-target="#Board" class="border-2 hover:bg-zinc-200 bg-white border-teal-600 xl:text-2xl text-6xl text-sky-900 xl:h-20 xl:w-20 h-32 " >       
        {{template "displayText" .}} 
     </button>
{{end}}

{{ define "square1" }}
    <button hx-get={{.Get}} hx-target="#Board" class="border-2 hover:bg-zinc-200 bg-cyan-100 border-teal-600 xl:text-2xl text-6xl text-sky-900 xl:h-20 xl:w-20  h-32 " >   
        {{template "displayText" .}} 
    </button>
{{end}}

{{ define "square2" }}
    <button hx-get={{.Get}} hx-target="#Board" class="border-2 hover:bg-zinc-200 bg-cyan-300 border-teal-600 xl:text-2xl text-6xl text-white xl:h-20  h-32 xl:w-20 " >             
        {{template "displayText" .}} 
    </button>
{{end}}

{{ define "square3" }}
    <button hx-get={{.Get}} hx-target="#Board" class="border-2 hover:bg-zinc-200 bg-sky-950 border-teal-600 xl:text-2xl text-6xl text-white xl:h-20 h-32 xl:w-20" >             
        {{template "displayText" .}} 
    </button>
{{end}}

{{ define "displayText" }}
    {{ if eq .TextColour 0 }}
        <div class="text-black">
            {{ template "displayValue" .Value}}
        </div>
    {{ else }}
        {{ if eq .TextColour 1}} 
        <div class="text-white">
            {{ template "displayValue" .Value}}
        </div>
        {{else}}
            {{if eq .TextColour 2}}
                <div class="text-teal-950 font-bold">
                    {{ template "displayValue" .Value}}
                </div>
            {{else}}
                {{if eq .TextColour 3}}
                    <div class="text-red-500">
                        {{ template "displayValue" .Value}}
                    </div>
                {{else}}
                    <div class="text-green-700">
                        {{ template "displayValue" .Value}}
                    </div>
                {{end}}
            {{end}}
        {{end}}
    {{end}}
{{ end }}

{{ define "displayValue" }}
    {{ if eq . 0}} 
    {{ else }}{{.}}      
    {{ end }}
{{ end }}


