{{ block "index" . }} 
<!DOCTYPE html> 
<html>
    <head>
        <title>Infinite Scroll</title>
        <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
        <script>
            document.addEventListener("keydown", function (e) {
                if([37,38,39,40].indexOf(e.keyCode) > -1){
                    e.preventDefault();
                }
            }, false);
        </script>
         <link rel="stylesheet" href="./output.css">

    </head>
    <body class="bg-rose-50">
        {{template "navbar" .DifficultyButtons }}
    <div class="container">
        {{template "Game" .Other}}
    </div>
    </body>
</html>
{{end}}

{{ block "loadtext" .}}
    <div hx-get={{.}} hx-target="#Game" hx-trigger="load" class="ml-32 mr-32 w-96 text-5xl">
        Loading <br>
    <img class="m-5 h-24 w-24" src="./Images/loading-gif.gif">
    </div>
{{ end }}

{{ block "Game" . }}
    <div id = "Game" class="flex pl-24 items-center justify-center ">
        <div id="Board" class="col-span-3 ">
            {{if .HasBoard }}
                {{template "board" .Board}}
            {{else}}
                {{template "loadtext" .Difficulty}}
            {{end}}
        </div>
    <div id= "ui" class="content-center items-center mt-4 rounded-3xl bg-violet-100 ml-8 border-4 border-purple-950 pt-5 pl-10 pr-10">  
        {{template "ui" .}}
    </div>
{{ end}}
