{{ define "square" }}
    {{ if eq .Appearance 0 }}
        {{template "square0" .}}   
    {{ else }}
        {{ if eq .Appearance 1}} 
            {{template "square1" .}}
        {{else}}
            {{ if eq .Appearance 2 }} 
                {{template "square2" .}}
            {{else}}
                {{template "square3" .}}
            {{end}}
        {{end}}
    {{end}}
{{end}}

{{ define "square0" }}
     <button hx-get={{.Get}} hx-target="#Game" class="border-2 hover:bg-zinc-200 bg-white border-teal-600 xl:text-2xl text-6xl text-sky-900 xl:h-20 xl:w-20 h-32 " >       
        {{template "displayText" .}} 
     </button>
{{end}}

{{ define "square1" }}
    <button hx-get={{.Get}} hx-target="#Game" class="border-2 hover:bg-zinc-200 bg-cyan-100 border-teal-600 xl:text-2xl text-6xl text-sky-900 xl:h-20 xl:w-20  h-32 " >   
        {{template "displayText" .}} 
    </button>
{{end}}

{{ define "square2" }}
    <button hx-get={{.Get}} hx-target="#Game" class="border-2 hover:bg-zinc-200 bg-cyan-300 border-teal-600 xl:text-2xl text-6xl text-white xl:h-20  h-32 xl:w-20 " >             
        {{template "displayText" .}} 
    </button>
{{end}}

{{ define "square3" }}
    <button hx-get={{.Get}} hx-target="#Game" class="border-2 hover:bg-zinc-200 bg-sky-950 border-teal-600 xl:text-2xl text-6xl text-white xl:h-20 h-32 xl:w-20" >             
        {{template "displayText" .}} 
    </button>
{{end}}

{{ define "displayText" }}
    {{ if eq .TextColour 0 }}
        <div class="text-black">
            {{ template "displayValue" .Value}}
        </div>
    {{ else }}
        {{ if eq .TextColour 1}} 
        <div class="text-white">
            {{ template "displayValue" .Value}}
        </div>
        {{else}}
            {{if eq .TextColour 2}}
                <div class="text-teal-950 font-bold">
                    {{ template "displayValue" .Value}}
                </div>
            {{else}}
                {{if eq .TextColour 3}}
                    <div class="text-red-500">
                        {{ template "displayValue" .Value}}
                    </div>
                {{else}}
                    <div class="text-green-700">
                        {{ template "displayValue" .Value}}
                    </div>
                {{end}}
            {{end}}
        {{end}}
    {{end}}
{{ end }}

{{ define "displayValue" }}
    {{ if eq . 0}} 
    {{ else }}{{.}}      
    {{ end }}
{{ end }}
